OAR.json
{
  "nodes": [
    {
      "parameters": {
        "events": [
          "im.message.receive_v1"
        ],
        "options": {}
      },
      "type": "n8n-nodes-feishu-lark.larkTrigger",
      "typeVersion": 2,
      "position": [
        -1072,
        -16
      ],
      "id": "d42eed33-57ec-4e8c-a707-5c99996f5169",
      "name": "Lark Trigger",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const root = $input.all()[0]?.json ?? {};\nconst event = root.event ?? root;\nconst message = event.message ?? root.message ?? {};\nconst sender = event.sender ?? root.sender ?? {};\nconst senderId = sender.sender_id ?? sender.id ?? {};\nconst senderOpenId = firstString(senderId.open_id, sender.open_id, event.sender_id?.open_id, event.sender_id, root.sender_id?.open_id, root.sender_id);\nconst senderType = firstString(sender.sender_type, sender.type, event.sender_type, root.sender_type) || 'user';\nconst messageType = firstString(message.message_type, event.message_type, root.message_type);\n\nif (senderType !== 'user' || messageType !== 'text') {\n  return [];\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction firstString(...values) {\n  for (const value of values) {\n    if (value === undefined || value === null) continue;\n    const text = String(value).trim();\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction parseContent(raw) {\n  if (!raw) return { text: '', mentions: [] };\n  if (typeof raw === 'object' && !Array.isArray(raw)) {\n    return {\n      ...raw,\n      text: firstString(raw.text, raw.content),\n      mentions: asArray(raw.mentions),\n    };\n  }\n\n  const text = String(raw).trim();\n  if (!text) return { text: '', mentions: [] };\n\n  try {\n    const parsed = JSON.parse(text);\n    if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n      return {\n        ...parsed,\n        text: firstString(parsed.text, parsed.content, text),\n        mentions: asArray(parsed.mentions),\n      };\n    }\n  } catch (error) {\n    // Some Lark triggers already provide plain text instead of JSON content.\n  }\n\n  return { text, mentions: [] };\n}\n\nfunction collectStrings(value, output = [], seen = new Set()) {\n  if (value === undefined || value === null) return output;\n  if (typeof value === 'string') {\n    output.push(value);\n    return output;\n  }\n  if (typeof value !== 'object') return output;\n  if (seen.has(value)) return output;\n  seen.add(value);\n  if (Array.isArray(value)) {\n    for (const item of value) collectStrings(item, output, seen);\n    return output;\n  }\n  for (const item of Object.values(value)) collectStrings(item, output, seen);\n  return output;\n}\n\nfunction uniqueMatches(strings, pattern) {\n  const seen = new Set();\n  const matches = [];\n  for (const value of strings) {\n    for (const match of String(value).matchAll(pattern)) {\n      const id = match[0];\n      if (!seen.has(id)) {\n        seen.add(id);\n        matches.push(id);\n      }\n    }\n  }\n  return matches;\n}\n\nfunction firstDifferent(currentId, ...values) {\n  const current = String(currentId || '').trim();\n  for (const value of values) {\n    const text = firstString(value);\n    if (text && text !== current) return text;\n  }\n  return '';\n}\n\nconst content = parseContent(message.content ?? event.content ?? root.content ?? '');\nlet text = firstString(content.text, message.content_text, event.content_text, root.content_text);\nif (!text) {\n  return [];\n}\n\nconst chatType = firstString(message.chat_type, message.chatType, event.chat_type, event.chatType, root.chat_type, root.chatType);\nconst chatId = firstString(message.chat_id, message.chatId, event.chat_id, event.chatId, root.chat_id, root.chatId, message.chat?.id, event.chat?.id, root.chat?.id);\nconst currentMessageId = firstString(message.message_id, message.messageId, event.message_id, event.messageId, root.message_id, root.messageId, message.id, event.id, root.id);\nconst messageId = currentMessageId;\nconst createTime = firstString(message.create_time, message.createTime, message.timestamp, event.create_time, event.createTime, event.timestamp, root.create_time, root.createTime, root.timestamp);\nconst stringsForIds = collectStrings({ root, event, message, content });\nconst omIds = uniqueMatches(stringsForIds, /\\bom_[A-Za-z0-9_-]+\\b/g).filter((id) => id !== currentMessageId);\nconst omtIds = uniqueMatches(stringsForIds, /\\bomt_[A-Za-z0-9_-]+\\b/g);\nconst threadId = firstString(\n  message.thread_id,\n  message.threadId,\n  message.thread?.thread_id,\n  message.thread?.id,\n  event.thread_id,\n  event.threadId,\n  event.thread?.thread_id,\n  event.thread?.id,\n  root.thread_id,\n  root.threadId,\n  root.thread?.thread_id,\n  root.thread?.id,\n  omtIds[0]\n);\nconst rootId = firstDifferent(\n  currentMessageId,\n  message.root_id,\n  message.rootId,\n  message.root?.message_id,\n  message.root?.id,\n  event.root_id,\n  event.rootId,\n  event.root?.message_id,\n  event.root?.id,\n  root.root_id,\n  root.rootId,\n  root.root?.message_id,\n  root.root?.id\n);\nconst parentId = firstDifferent(\n  currentMessageId,\n  message.parent_id,\n  message.parentId,\n  message.parent?.message_id,\n  message.parent?.id,\n  event.parent_id,\n  event.parentId,\n  event.parent?.message_id,\n  event.parent?.id,\n  root.parent_id,\n  root.parentId,\n  root.parent?.message_id,\n  root.parent?.id\n);\nconst referencedMessageId = firstDifferent(\n  currentMessageId,\n  message.referenced_message_id,\n  message.referencedMessageId,\n  message.reference?.message_id,\n  message.reference?.id,\n  message.reply_to?.message_id,\n  message.replyTo?.messageId,\n  message.quote?.message_id,\n  message.quote?.id,\n  event.referenced_message_id,\n  event.referencedMessageId,\n  event.reference?.message_id,\n  event.reference?.id,\n  event.reply_to?.message_id,\n  event.replyTo?.messageId,\n  event.quote?.message_id,\n  event.quote?.id,\n  root.referenced_message_id,\n  root.referencedMessageId,\n  root.reference?.message_id,\n  root.reference?.id,\n  root.reply_to?.message_id,\n  root.replyTo?.messageId,\n  root.quote?.message_id,\n  root.quote?.id,\n  parentId,\n  rootId,\n  omIds[0]\n);\nconst hasReference = Boolean(referencedMessageId || parentId || rootId || threadId);\nconst isDirectChat = chatType === 'p2p';\nconst sessionKey = threadId && chatId\n  ? `oar:chat:${chatId}:thread:${threadId}:user:${senderOpenId}`\n  : (isDirectChat\n    ? `oar:p2p:${senderOpenId}`\n    : `oar:chat:${chatId}:user:${senderOpenId}`);\nconst contextHints = {\n  hasReference,\n  referencedMessageId,\n  threadId,\n  rootId,\n  parentId,\n  currentMessageId,\n  chatId,\n  chatType,\n  createTime,\n};\n\nconst rawMentions = [\n  ...asArray(message.mentions),\n  ...asArray(event.mentions),\n  ...asArray(root.mentions),\n  ...asArray(content.mentions),\n];\nconst mentions = [];\nconst seenMentions = new Set();\n\nfunction mentionIdInfo(mention) {\n  const id = mention?.id ?? {};\n  const openId = id.open_id ?? mention?.open_id ?? mention?.member_id ?? '';\n  const userId = id.user_id ?? mention?.user_id ?? '';\n  const unionId = id.union_id ?? mention?.union_id ?? '';\n  if (openId) return { value: String(openId), type: 'open_id' };\n  if (userId && typeof userId === 'string') return { value: userId, type: 'user_id' };\n  if (unionId) return { value: String(unionId), type: 'union_id' };\n  return { value: '', type: 'open_id' };\n}\n\nfunction mentionName(mention) {\n  return firstString(\n    mention?.name,\n    mention?.display_name,\n    mention?.member_name,\n    mention?.nickname,\n    mention?.name_default,\n    mention?.i18n_name?.zh_cn,\n    mention?.i18n_name?.en_us\n  );\n}\n\nfunction mentionKey(mention) {\n  return firstString(mention?.key, mention?.mention_key, mention?.token);\n}\n\nfor (const mention of rawMentions) {\n  if (!mention || typeof mention !== 'object' || Array.isArray(mention)) continue;\n  const idInfo = mentionIdInfo(mention);\n  const key = [idInfo.type, idInfo.value, mentionName(mention), mentionKey(mention)].join('|');\n  if (seenMentions.has(key)) continue;\n  seenMentions.add(key);\n  mentions.push(mention);\n}\n\nfunction isAssistantMention(mention) {\n  const name = mentionName(mention).toLowerCase();\n  const mentionType = firstString(mention?.type, mention?.member_type, mention?.user_type).toLowerCase();\n  return (\n    name.includes('oar') ||\n    name.includes('okr') ||\n    name.includes('agent') ||\n    name.includes('okr助手') ||\n    mentionType.includes('bot')\n  );\n}\n\nfunction escapeRegExp(value) {\n  return String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nfunction stripAssistantMentions(source) {\n  let result = source;\n  for (const mention of mentions.filter(isAssistantMention)) {\n    const key = mentionKey(mention);\n    const name = mentionName(mention);\n    if (key) result = result.replace(new RegExp(escapeRegExp(key), 'g'), ' ');\n    if (name) result = result.replace(new RegExp('@?\\\\s*' + escapeRegExp(name), 'ig'), ' ');\n  }\n  return result.replace(/\\s+/g, ' ').trim();\n}\n\nconst commandMatch = text.match(/^\\s*(?:\\/oar|\\/okr|@oar|@okr(?:\\s+agent)?|@okr助手)\\b/i);\nconst hasCommandPrefix = Boolean(commandMatch);\nconst mentionsAssistant = mentions.some(isAssistantMention);\n\nif (!isDirectChat && !mentionsAssistant && !hasCommandPrefix) {\n  return [];\n}\n\nif (mentionsAssistant) {\n  text = stripAssistantMentions(text);\n}\n\nif (hasCommandPrefix) {\n  const strippedText = text.replace(/^\\s*(?:\\/oar|\\/okr|@oar|@okr(?:\\s+agent)?|@okr助手)\\s*/i, '').trim();\n  text = strippedText || (/okr/i.test(commandMatch[0]) ? '查看我的 OKR' : '');\n}\n\nif (!text) {\n  text = '查看我的 OKR';\n}\n\nconst okrDomain = /(okr|目标|关键结果|本期|进度|对齐|复盘|objective|key result|kr)/i.test(text);\nconst wantsOkrRead = okrDomain && /(读|读取|查看|看看|看一下|列出|我的|当前|本期|进度|目标|关键结果|kr|objective|key result|分析|诊断|风险|建议|体检|改进)/i.test(text);\nconst wantsOkrAnalysis = okrDomain && /(分析|诊断|风险|建议|体检|改进|review|analy[sz]e)/i.test(text);\nconst wantsBotDispatch = /(派|派发|交给|安排|委托|分配|转给|让|请).*(机器人|bot|agent|助手)|(?:\\/task|\\/dispatch)\\b/i.test(text);\nconst wantsOkrWriteConfirm = /^\\s*(?:确认|confirm)\\s+okrupd_[A-Za-z0-9_-]+\\s*$/i.test(text);\nconst wantsOkrWrite = okrDomain && /(修改|更新|改成|调整|设为|设置|截止|deadline|分数|进度|score|改一下|改到|更新到)/i.test(text);\nconst wantsBotDialog = /(问|询问|让|请|call|ask).*(机器人|bot)/i.test(text);\nconst targetMentionCandidate = wantsOkrRead ? mentions.find((mention) => !isAssistantMention(mention) && mentionIdInfo(mention).value) : null;\nconst asksGroupScope = /(这个群|本群|群里|群成员|大家|所有人|全部人|每个人|全员|团队|team|group)/i.test(text);\nconst wantsGroupOkrRead = wantsOkrRead && !targetMentionCandidate && asksGroupScope;\nconst targetMention = wantsOkrRead && !wantsGroupOkrRead ? targetMentionCandidate : null;\nconst targetInfo = targetMention ? mentionIdInfo(targetMention) : { value: senderOpenId, type: 'open_id' };\nconst targetDisplayName = targetMention ? mentionName(targetMention) : '你';\nconst allowedChatId = !isDirectChat ? chatId : '';\nconst chatDisplayName = !isDirectChat ? '当前群' : '';\n\nreturn [\n  {\n    json: {\n      text,\n      intent: wantsOkrWriteConfirm\n        ? 'execute_okr_update'\n        : (wantsBotDispatch\n          ? 'dispatch_bot_task'\n          : (wantsOkrWrite\n            ? 'propose_okr_update'\n            : (wantsGroupOkrRead ? 'read_group_okrs' : (wantsOkrAnalysis ? 'analyze_okr' : (wantsOkrRead ? 'read_okr' : (wantsBotDialog ? 'ask_bot' : 'chat')))))),\n      chatId,\n      chatType,\n      messageId,\n      senderOpenId,\n      sessionKey,\n      contextHints,\n      targetUserId: targetInfo.value,\n      targetUserIdType: targetInfo.type,\n      targetDisplayName: targetDisplayName || '该用户',\n      targetSource: targetMention ? 'mention' : 'self',\n      allowedChatId,\n      chatDisplayName,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -16
      ],
      "id": "90645d49-f2f4-4b46-b000-9b1d8c4d40cc",
      "name": "Prepare incoming message"
    },
    {
      "parameters": {
        "description": "Unified OKR tool for Feishu OKR operations. Input must be a JSON string. Supports action=read_okr, list_chat_members, analyze_okr, summarize_group_okrs. read_okr returns both human output and structured data.objectives[].keyResults[]. Only use IDs provided in the current AI input or returned by this tool; never invent user IDs or chat IDs. For list_chat_members, allowedChatId is bound from the current group event by the workflow. Direct or mismatched chat IDs are rejected.",
        "workflowId": {
          "__rl": true,
          "value": "YzwZbpxLpOren7HI",
          "mode": "list",
          "cachedResultUrl": "/workflow/YzwZbpxLpOren7HI",
          "cachedResultName": "OAR OKR Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'JSON string with the OKR tool action and action-specific arguments. Never include chatId or allowedChatId.', 'string') }}",
            "allowedChatId": "={{ $node[\"Prepare incoming message\"].json.allowedChatId }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "allowedChatId",
              "displayName": "allowedChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -432,
        384
      ],
      "id": "690ae1b9-7df0-4930-99ad-bb6c3c09014f",
      "name": "okr_tools",
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ message: $json.text, intent: $json.intent, requesterOpenId: $json.senderOpenId, sessionKey: $json.sessionKey, contextHints: $json.contextHints, allowedTargetUserId: $json.targetUserId, allowedTargetUserIdType: $json.targetUserIdType, targetDisplayName: $json.targetDisplayName, targetSource: $json.targetSource, allowedChatId: $json.allowedChatId, chatDisplayName: $json.chatDisplayName, chatType: $json.chatType }) }}",
        "options": {
          "systemMessage": "你是 OAR，一个在飞书里的 OKR Copilot。你的任务是帮助用户查看、理解、改进、汇总和跟进 OKR，并在必要时通过受控工具把最小化任务派给已配置的其他机器人。\n\n总原则：\n- 你专注于 OKR，不做泛泛闲聊。用户的问题如果和目标、关键结果、进度、复盘、阻塞、协作、对齐关系、团队状态有关，你要进入 OKR 工作模式。\n- 只有当工具返回了数据时，你才能说“我看到了/读到了 OKR”。不要编造 Objective、Key Result、分数、负责人、进度或公司内部信息。\n- 如果工具没有返回数据、权限不足、目标用户不明确、目标机器人未配置，你必须说明原因，并给出下一步。\n- 默认使用中文，除非用户使用其他语言。回答要简洁、结构化、可执行。\n\nOKR 工具：okr_tools\n- 单人读取：{\"action\":\"read_okr\",\"targetUserId\":\"<allowedTargetUserId>\",\"targetUserIdType\":\"<allowedTargetUserIdType>\",\"targetDisplayName\":\"<targetDisplayName>\"}\n- 群成员列表：{\"action\":\"list_chat_members\",\"chatDisplayName\":\"<chatDisplayName>\",\"maxMembers\":20}\n- 个人分析：先调用 read_okr，再调用 {\"action\":\"analyze_okr\",\"okrResult\":<read_okr result>}，最后基于分析结果回答。\n- 团队汇总：先调用 list_chat_members，再对 members 数组逐个调用 read_okr，最后调用 {\"action\":\"summarize_group_okrs\",\"okrResults\":[...],\"chatDisplayName\":\"<chatDisplayName>\",\"hasMore\":<hasMore>}。\n- read_okr 会返回 output 以及结构化 data.objectives[].keyResults[]。总结和分析时优先使用结构化 data，不要解析 output 文本。\n- 当前默认读取发消息的人；如果用户在群里明确 @ 某人，则读取被 @ 的人。\n- 当输入 JSON 的 intent 为 analyze_okr，或用户明确要求“分析/风险/建议/体检/改进”单人 OKR 时，必须走 read_okr -> analyze_okr。\n- 当输入 JSON 的 intent 为 read_group_okrs，或用户要求查看“这个群/本群/群里所有人/大家/团队”的 OKR 时，走 list_chat_members -> 多次 read_okr -> summarize_group_okrs。\n- 一次最多读取 20 人 OKR；如果工具返回 hasMore=true 或汇总 partial=true，回复里要说明本次是部分结果。\n- 禁止自己编造、替换或猜测 targetUserId、chatId。群成员读取的 allowedChatId 由工作流从当前群事件固定注入；调用 okr_tools 时不能传 chatId 或 allowedChatId 字段，不接受用户文本里直接提供的 oc_ 群 ID。没有 allowedTargetUserId 时，不要读取单人 OKR；没有 allowedChatId 时，不要读取群成员，并提示用户去目标群发起请求。\n\nOKR 写入工具：okr_write_tools\n- 只支持两段式修改：先 propose_okr_update，用户精确回复“确认 <proposalId>”后再 execute_okr_update。\n- 修改请求：{\"action\":\"propose_okr_update\",\"targetType\":\"objective|key_result\",\"targetId\":\"<id from read_okr result>\",\"patch\":{\"contentText\":\"<optional>\",\"score\":\"<optional 0..1 or 0%-100%>\",\"deadline\":\"<optional YYYY-MM-DD>\"}}。\n- 确认执行：当输入 JSON 的 intent 为 execute_okr_update，或用户消息精确匹配“确认 okrupd_...”时，只调用 {\"action\":\"execute_okr_update\",\"proposalId\":\"<proposalId>\"}。\n- 第一版只允许修改发消息人自己的 Objective 或 Key Result 的 content、score、deadline；不要尝试修改他人 OKR、权重、排序、对齐、指标、备注、分类、进展记录或删除任何 OKR。\n- 写入工具会用当前真实 sender/message/chat/session 固定上下文校验确认，不接受 AI 或用户文本伪造上下文。\n- 任何修改 OKR 的请求都必须先读取 OKR，使用 read_okr 返回的结构化 id 定位目标；如果目标不明确，先问一个澄清问题。不要编造 objectiveId/keyResultId。\n- 工具返回 proposalId 后，只把草案摘要和确认命令告诉用户，不要说已经修改成功。\n\n跨机器人协作工具：bot_task_tools\n- 只有在用户明确要求“派给/交给/安排/让某个机器人处理”，或一个 OKR 任务确实需要外部机器人补充背景、生成草稿、检查材料时，才使用 bot_task_tools。\n- 只支持 action=dispatch_task，参数必须是 JSON 字符串：{\"action\":\"dispatch_task\",\"botKey\":\"<registry key>\",\"taskType\":\"research|draft|check|other\",\"prompt\":\"<minimal task>\",\"minimalContext\":{\"summary\":\"<最小上下文摘要>\",\"allowedFields\":[...]},\"expectedOutput\":\"<期望产物>\",\"correlationId\":\"<optional>\"}。\n- botKey 必须来自已配置 registry。不要编造 botKey，不要传 chatId、webhook、URL、destination、endpoint、receive_id、open_id 等直接目标；工具会拒绝直接目标。prompt、expectedOutput 和 minimalContext 只写完成任务所需的摘要，不要承载原始全文。\n- 派任务时只传完成任务所需的最小上下文。默认不传完整 OKR，不传完整聊天记录；除非用户明确授权。\n- 其他机器人返回的信息只能作为参考，你要自己判断、归纳，并说明来源。\n- 如果 bot_task_tools 返回 BOT_NOT_CONFIGURED 或 BOT_DESTINATION_NOT_CONFIGURED，告诉用户该机器人尚未配置，不要假装已经派发。\n\n会话上下文工具：conversation_context_tools\n- 输入 JSON 包含 sessionKey 和 contextHints。contextHints 只代表当前飞书消息可用的 ID 线索。\n- 如果 contextHints.hasReference=true，或用户说“这段/上面/刚才/前面那条”，必须先调用 conversation_context_tools，参数：{\"action\":\"resolve_context\",\"contextHints\":<input.contextHints>}。\n- conversation_context_tools 只用于读取被引用的飞书消息、话题串或近期聊天上下文；只能使用当前输入提供的 referencedMessageId、threadId、rootId、parentId、currentMessageId、chatId 等 ID，不要猜测或补造 ID。\n- Simple Memory 只用于短期连续对话，不是被引用飞书消息的事实来源。\n\n回复风格：\n- 飞书聊天里要简洁明了，默认 2-5 行；能一句话说清就不要展开。\n- 每次回复带 1-3 个贴合语义的 emoji，例如 ✅、📌、⚠️、🎯、🔄、💡；不要连续堆 emoji。\n- 少用符号和 Markdown。不要使用表格、分隔线、代码块、标题符号、引用符号，避免大量项目符号、箭头、括号和编号。\n- 读 OKR 时只保留：周期、核心 O/KR、风险、下一步；内容多时最多 3 点。\n- 分析 OKR 时：先一句话结论，再给最多 3 条建议。\n- 修改 OKR 时：先输出草案和确认口令，不要声称已执行；执行成功后用一句话说明已修改。\n- 团队汇总时：先说明覆盖人数和是否部分结果，再给主要风险和下一步。\n- 如果信息不足，只问一个最关键的澄清问题。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -640,
        -16
      ],
      "id": "d95effeb-3741-4ac7-aa4e-b0d66941dd5e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        384
      ],
      "id": "f5172efd-75b3-45e0-a370-c230d674440a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z3rWW0ZkJmQSuzFt",
          "name": "Shifang"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "receive_id_type": "chat_id",
        "receive_id": {
          "__rl": true,
          "value": "={{ $node[\"Prepare incoming message\"].json.chatId }}",
          "mode": "id"
        },
        "content": "={{ JSON.stringify({ text: $json.output || \"\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ],
      "id": "167d10fb-e7eb-4e14-9872-f7336b16537d",
      "name": "Send message",
      "webhookId": "998ec9ff-c06c-4738-a011-f3a316b2c86d",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "description": "Reads referenced Lark message, thread, or recent chat context; input must be a JSON string; default action=resolve_context; only use current input-provided IDs.",
        "workflowId": {
          "__rl": true,
          "value": "Ucyq29dR28usv42j",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ucyq29dR28usv42j",
          "cachedResultName": "OAR Conversation Context Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "6a857ae4-fa45-488d-9392-a00a429a8ab2",
      "name": "conversation_context_tools",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -288,
        384
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionKey }}",
        "contextWindowLength": 8
      },
      "id": "83dcf7ad-6b11-42dd-9ea9-296872297711",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        384
      ]
    },
    {
      "parameters": {
        "description": "Dispatches minimal tasks to whitelisted bot registry entries. Input must be a JSON string with action=dispatch_task, botKey, taskType, prompt, minimalContext, expectedOutput. Never accepts direct destination fields such as chatId/webhook/url/open_id from the agent. Text fields are length-limited.",
        "workflowId": {
          "__rl": true,
          "value": "JdeFwwuDd1tUseOl",
          "mode": "list",
          "cachedResultUrl": "/workflow/JdeFwwuDd1tUseOl",
          "cachedResultName": "OAR Bot Task Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "2cfe7d58-fcfb-41eb-8fae-d905a2354b60",
      "name": "bot_task_tools",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -144,
        384
      ]
    },
    {
      "parameters": {
        "description": "Controlled OKR write tool. Input query is AI-provided, but sender/message/chat/session context is fixed from the current Lark event. Supports propose_okr_update and execute_okr_update only. Never allows direct write without exact user confirmation.",
        "workflowId": {
          "__rl": true,
          "value": "Qiai5nF0ENxuWOgO",
          "mode": "list",
          "cachedResultUrl": "/workflow/Qiai5nF0ENxuWOgO",
          "cachedResultName": "OAR OKR Write Tools"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'JSON string for OKR write actions. For propose_okr_update include targetType, targetId, and patch with contentText/score/deadline only. For execute_okr_update include proposalId only.', 'string') }}",
            "trustedSenderOpenId": "={{ $node[\"Prepare incoming message\"].json.senderOpenId }}",
            "trustedMessageId": "={{ $node[\"Prepare incoming message\"].json.messageId }}",
            "trustedMessageText": "={{ $node[\"Prepare incoming message\"].json.text }}",
            "trustedChatId": "={{ $node[\"Prepare incoming message\"].json.chatId }}",
            "trustedSessionKey": "={{ $node[\"Prepare incoming message\"].json.sessionKey }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trustedSenderOpenId",
              "displayName": "trustedSenderOpenId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trustedMessageId",
              "displayName": "trustedMessageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trustedMessageText",
              "displayName": "trustedMessageText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trustedChatId",
              "displayName": "trustedChatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "trustedSessionKey",
              "displayName": "trustedSessionKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -224,
        384
      ],
      "id": "94aba604-4212-43eb-8cc9-9696bec92369",
      "name": "okr_write_tools"
    }
  ],
  "connections": {
    "Lark Trigger": {
      "main": [
        [
          {
            "node": "Prepare incoming message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare incoming message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "okr_tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "conversation_context_tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "bot_task_tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "okr_write_tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c4b712d1f6444a901a39f3ec4daaac0fc687f9afcf88d30399c29b491d7da3c3"
  },
  "name": "OAR"
}
