OAR_okr_tools.json
{
  "name": "OAR OKR Tools",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "allowedChatId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2d4c21fd-1909-4c7f-8d8d-62ad4aa89733",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.all()[0]?.json ?? {};\nconst trustedAllowedChatId = String(raw.allowedChatId || \"\").trim();\nlet payload = raw.query ?? raw;\nlet parseError = false;\n\nif (typeof payload === \"string\") {\n  try {\n    payload = JSON.parse(payload);\n  } catch (error) {\n    payload = {};\n    parseError = true;\n  }\n}\n\nif (!payload || typeof payload !== \"object\" || Array.isArray(payload)) {\n  payload = {};\n  parseError = true;\n}\n\nlet action = String(payload.action || payload.tool || payload.operation || \"\").trim();\nif (!action) {\n  const hasTargetUser = Boolean(payload.targetUserId || payload.allowedTargetUserId || payload.targetOpenId);\n  action = hasTargetUser ? \"read_okr\" : (payload.chatId || payload.allowedChatId ? \"list_chat_members\" : \"unknown\");\n}\n\nconst aliases = {\n  read: \"read_okr\",\n  get_okr: \"read_okr\",\n  read_user_okr: \"read_okr\",\n  analyze: \"analyze_okr\",\n  analyse: \"analyze_okr\",\n  okr_analysis: \"analyze_okr\",\n  analyze_user_okr: \"analyze_okr\",\n  list_members: \"list_chat_members\",\n  list_chat_member: \"list_chat_members\",\n  chat_members: \"list_chat_members\",\n  group_members: \"list_chat_members\",\n  summarize_group: \"summarize_group_okrs\",\n  summarize_group_okr: \"summarize_group_okrs\",\n  summarize_group_okrs: \"summarize_group_okrs\",\n  group_summary: \"summarize_group_okrs\",\n};\naction = aliases[action] || action;\n\nconst supportedActions = [\"read_okr\", \"list_chat_members\", \"analyze_okr\", \"summarize_group_okrs\"];\nconst maxMembersRaw = Number(payload.maxMembers ?? 20);\nconst maxMembers = Number.isFinite(maxMembersRaw) ? Math.min(Math.max(Math.trunc(maxMembersRaw), 1), 20) : 20;\nconst rawChatId = String(payload.chatId || \"\").trim();\nconst requestedAllowedChatId = String(payload.allowedChatId || \"\").trim();\nconst chatAuthorizationError = action === \"list_chat_members\" && rawChatId\n  ? \"DIRECT_CHAT_ID_FORBIDDEN\"\n  : (action === \"list_chat_members\" && requestedAllowedChatId && requestedAllowedChatId !== trustedAllowedChatId\n    ? \"ALLOWED_CHAT_ID_MISMATCH\"\n    : \"\");\n\nreturn [{\n  json: {\n    action: supportedActions.includes(action) ? action : \"unknown_action\",\n    requestedAction: action,\n    supportedActions,\n    parseError,\n    toolInput: payload,\n    targetUserId: payload.targetUserId || payload.allowedTargetUserId || payload.targetOpenId || \"\",\n    targetUserIdType: payload.targetUserIdType || payload.allowedTargetUserIdType || \"open_id\",\n    targetDisplayName: payload.targetDisplayName || payload.allowedTargetDisplayName || \"目标用户\",\n    chatId: chatAuthorizationError ? \"\" : trustedAllowedChatId,\n    chatAuthorizationError,\n    chatDisplayName: payload.chatDisplayName || \"当前群\",\n    maxMembers,\n    pageSize: maxMembers,\n    pageToken: String(payload.pageToken ?? payload.page_token ?? \"\").trim(),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "7b4ac09d-b6b6-4e02-8e05-8e5d7bb5573d",
      "name": "Normalize"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "list_chat_members"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        -80
      ],
      "id": "4649c408-0ae2-4e7e-9d73-f4fcf0cbf57d",
      "name": "Action is list_chat_members"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.chatId || '').trim() ? 'present' : '' }}",
              "operation": "equal",
              "value2": "present"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        -220
      ],
      "id": "bd421cbe-1c05-45d9-a158-a791c8f9e001",
      "name": "Has chatId"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "larkApi",
        "method": "GET",
        "url": "={{ 'https://open.feishu.cn/open-apis/im/v1/chats/' + encodeURIComponent($json.chatId) + '/members' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "member_id_type",
              "value": "open_id"
            },
            {
              "name": "page_size",
              "value": "={{ $json.pageSize || 20 }}"
            },
            {
              "name": "page_token",
              "value": "={{ $json.pageToken || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        -220
      ],
      "id": "f2ac0c02-d83d-4244-82ec-93cfa6b368d5",
      "name": "HTTP list members",
      "onError": "continueRegularOutput",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.all()[0]?.json ?? {};\nconst request = $('Normalize').all()[0]?.json ?? {};\n\nfunction asBoolean(value) {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') return value.toLowerCase() === 'true';\n  return Boolean(value);\n}\n\nfunction finish(output, ok = false, extra = {}, errorCode = 'LIST_CHAT_MEMBERS_FAILED') {\n  const members = Array.isArray(extra.members) ? extra.members : [];\n  const hasMore = asBoolean(extra.hasMore ?? false);\n  const nextPageToken = String(extra.nextPageToken ?? '').trim();\n  return [{\n    json: {\n      ok,\n      action: 'list_chat_members',\n      version: 'v1',\n      data: { members, hasMore, nextPageToken },\n      error: ok ? null : { code: errorCode, message: output, retryable: false },\n      meta: {\n        chatId: request.chatId || extra.chatId || '',\n        chatDisplayName: request.chatDisplayName || extra.chatDisplayName || '',\n        maxMembers: request.maxMembers || 20,\n        truncated: hasMore,\n      },\n      members,\n      hasMore,\n      nextPageToken,\n      output,\n      chatMemberToolOk: ok,\n      ...extra,\n    },\n  }];\n}\n\nif (request.chatAuthorizationError) {\n  return finish('list_chat_members 群授权校验失败。请在目标群中发起请求。', false, {}, request.chatAuthorizationError);\n}\n\nif (!request.chatId || request.parseError) {\n  return finish('list_chat_members 缺少有效 allowedChatId。请在目标群中发起请求。', false, {}, request.parseError ? 'INVALID_TOOL_INPUT' : 'MISSING_ALLOWED_CHAT_ID');\n}\n\nif (input.error) {\n  const detail = typeof input.error === 'string' ? input.error : (input.error.message || JSON.stringify(input.error));\n  return finish('读取群成员失败：' + detail, false, {\n    chatId: request.chatId,\n    chatDisplayName: request.chatDisplayName,\n  }, 'LIST_CHAT_MEMBERS_HTTP_ERROR');\n}\n\nif (input.code && input.code !== 0) {\n  return finish('读取群成员失败：' + (input.msg || JSON.stringify(input)), false, {\n    chatId: request.chatId,\n    chatDisplayName: request.chatDisplayName,\n  }, 'LIST_CHAT_MEMBERS_API_ERROR');\n}\n\nconst rawMembers = input.items ?? input.members ?? input.data?.items ?? input.data?.members ?? [];\nconst hasMore = asBoolean(input.has_more ?? input.data?.has_more ?? input.hasMore ?? input.data?.hasMore);\nconst nextPageToken = String(input.page_token ?? input.data?.page_token ?? input.nextPageToken ?? input.data?.nextPageToken ?? '').trim();\n\nif (!Array.isArray(rawMembers) || rawMembers.length === 0) {\n  return finish('没有读取到群成员。请确认机器人在该群内，并且应用已开通 im:chat.members:read 权限。', false, {\n    chatId: request.chatId,\n    chatDisplayName: request.chatDisplayName,\n    hasMore,\n    nextPageToken,\n  }, 'NO_CHAT_MEMBERS');\n}\n\nfunction memberId(member) {\n  const id = member.member_id ?? member.open_id ?? member.user_id ?? member.id?.open_id ?? member.id?.user_id ?? '';\n  return String(id || '').trim();\n}\n\nfunction memberName(member, id) {\n  return String(member.name ?? member.display_name ?? member.member_name ?? member.nickname ?? id).trim();\n}\n\nconst members = [];\nconst seen = new Set();\nfor (const member of rawMembers) {\n  const id = memberId(member);\n  if (!id || seen.has(id)) continue;\n  const type = String(member.member_type ?? member.type ?? '').toLowerCase();\n  if (type.includes('bot')) continue;\n  seen.add(id);\n  members.push({\n    targetUserId: id,\n    targetUserIdType: 'open_id',\n    targetDisplayName: memberName(member, id),\n  });\n  if (members.length >= request.maxMembers) break;\n}\n\nconst lines = [\n  '已读取' + request.chatDisplayName + '成员 ' + members.length + ' 人。',\n  hasMore ? '还有更多成员；下一页请继续传入 pageToken=' + nextPageToken + '。' : '',\n  '接下来请逐个读取 members 数组中的用户 OKR。',\n].filter(Boolean);\n\nreturn finish(lines.join('\\n'), true, {\n  chatId: request.chatId,\n  chatDisplayName: request.chatDisplayName,\n  members,\n  hasMore,\n  nextPageToken,\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -220
      ],
      "id": "bf738f62-6f30-4dde-842b-09b351984b84",
      "name": "Format result"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "read_okr"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        220
      ],
      "id": "c7462f17-89e2-46b7-93d2-e7eb2ac9f196",
      "name": "Action is read_okr"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.targetUserId || '').trim() ? 'present' : '' }}",
              "operation": "equal",
              "value2": "present"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        220
      ],
      "id": "42af4a8c-88bb-44df-9e2b-a4e1412077e5",
      "name": "Has targetUserId"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "larkApi",
        "method": "GET",
        "url": "https://open.feishu.cn/open-apis/okr/v2/cycles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Normalize').all()[0].json.targetUserId }}"
            },
            {
              "name": "user_id_type",
              "value": "={{ $('Normalize').all()[0].json.targetUserIdType || 'open_id' }}"
            },
            {
              "name": "page_size",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        220
      ],
      "id": "b01d4a87-b0c0-40cf-a8da-77ef10217f39",
      "name": "List cycles",
      "onError": "continueRegularOutput",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.all()[0]?.json ?? {};\nconst request = $('Normalize').all()[0]?.json ?? {};\nconst targetName = request.targetDisplayName || '目标用户';\nconst targetPossessive = targetName === '你' ? '你的' : targetName + '的';\n\nfunction finish(output, ok = false) {\n  return [{ json: { output, okrToolOk: ok, targetDisplayName: targetName } }];\n}\n\nif (!request.targetUserId || request.parseError) {\n  return finish('read_okr 缺少有效 targetUserId。请传入目标用户 ID。');\n}\n\nif (input.error) {\n  const detail = typeof input.error === 'string' ? input.error : (input.error.message || JSON.stringify(input.error));\n  return finish('读取' + targetPossessive + ' OKR 周期失败：' + detail);\n}\n\nif (input.code && input.code !== 0) {\n  return finish('读取' + targetPossessive + ' OKR 周期失败：' + (input.msg || JSON.stringify(input)));\n}\n\nconst cycles = input.cycles ?? input.items ?? input.data?.cycles ?? input.data?.items ?? [];\nif (!Array.isArray(cycles) || cycles.length === 0) {\n  return finish('没有找到' + targetPossessive + ' OKR 周期。');\n}\n\nfunction asTime(value) {\n  if (!value) return NaN;\n  const raw = String(value).trim();\n  const numeric = Number(raw);\n  if (Number.isFinite(numeric)) return numeric < 1000000000000 ? numeric * 1000 : numeric;\n  return new Date(raw.replace(' ', 'T')).getTime();\n}\n\nconst now = Date.now();\nconst activeStatuses = new Set(['', '0', '1', 'default', 'normal']);\nconst invisibleStatuses = new Set(['2', '3', 'invalid', 'hidden']);\nconst requestedCycleId = String(request.toolInput?.cycleId ?? request.toolInput?.cycle_id ?? '').trim();\nconst statusValue = (cycle) => String(cycle.cycle_status ?? '').toLowerCase();\nconst currentCycles = cycles.filter((cycle) => {\n  const start = asTime(cycle.start_time);\n  const end = asTime(cycle.end_time);\n  return Number.isFinite(start) && Number.isFinite(end) && start <= now && end >= now && activeStatuses.has(statusValue(cycle));\n});\nconst visibleCycles = cycles.filter((cycle) => !invisibleStatuses.has(statusValue(cycle)));\nconst candidates = currentCycles.length ? currentCycles : (visibleCycles.length ? visibleCycles : cycles);\nconst selected = requestedCycleId\n  ? cycles.find((cycle) => String(cycle.id ?? '').trim() === requestedCycleId)\n  : [...candidates].sort((a, b) => asTime(b.start_time) - asTime(a.start_time))[0];\nconst selectedId = String(selected?.id ?? '').trim();\nif (!selectedId) {\n  return finish('读取' + targetPossessive + ' OKR 周期失败：当前周期缺少 cycleId。');\n}\n\nfunction formatDate(value) {\n  const time = asTime(value);\n  if (!Number.isFinite(time)) return '';\n  return new Intl.DateTimeFormat('zh-CN', { timeZone: 'Asia/Shanghai', year: 'numeric', month: '2-digit', day: '2-digit' }).format(new Date(time)).replace(/\\//g, '-');\n}\n\nconst start = formatDate(selected.start_time);\nconst end = formatDate(selected.end_time);\n\nreturn [{\n  json: {\n    cycleId: selectedId,\n    cycleLabel: start && end ? start + ' - ' + end : selectedId,\n    cycleStartDate: start,\n    cycleEndDate: end,\n    targetUserId: request.targetUserId,\n    targetUserIdType: request.targetUserIdType || 'open_id',\n    targetDisplayName: targetName,\n    okrToolOk: true,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        220
      ],
      "id": "65397f17-51ad-4f25-98de-c3a524ceba8a",
      "name": "Select cycle"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.cycleId || '').trim() ? 'present' : '' }}",
              "operation": "equal",
              "value2": "present"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        220
      ],
      "id": "f1d64a51-b7cf-4aef-bf19-42742ac65e67",
      "name": "Has cycleId"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "larkApi",
        "method": "GET",
        "url": "={{ 'https://open.feishu.cn/open-apis/okr/v2/cycles/' + encodeURIComponent($json.cycleId) + '/objectives' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "={{ $json.targetUserIdType || 'open_id' }}"
            },
            {
              "name": "page_size",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        220
      ],
      "id": "6317055e-bd43-4356-bf9b-94ba7505bdb3",
      "name": "List objectives",
      "onError": "continueRegularOutput",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.all()[0]?.json ?? {};\nconst selected = $('Select cycle').all()[0]?.json ?? {};\n\nif (!selected.okrToolOk) {\n  return [{ json: { ...selected, noObjectives: true } }];\n}\n\nif (input.error) {\n  const detail = typeof input.error === 'string' ? input.error : (input.error.message || JSON.stringify(input.error));\n  return [{ json: { ...selected, noObjectives: true, output: '读取目标列表失败：' + detail } }];\n}\n\nif (input.code && input.code !== 0) {\n  return [{ json: { ...selected, noObjectives: true, output: '读取目标列表失败：' + (input.msg || JSON.stringify(input)) } }];\n}\n\nconst objectives = input.objectives ?? input.items ?? input.data?.objectives ?? input.data?.items ?? [];\nif (!Array.isArray(objectives) || objectives.length === 0) {\n  return [{ json: { ...selected, noObjectives: true, objectives: [] } }];\n}\n\nconst expanded = objectives.map((objective) => ({\n  json: {\n    ...selected,\n    objective,\n    objectiveId: String(objective.id ?? '').trim(),\n    noObjectives: false,\n  },\n}));\n\nif (expanded.some((item) => !item.json.objectiveId)) {\n  return [{ json: { ...selected, noObjectives: true, output: '读取目标列表失败：目标缺少 objectiveId。' } }];\n}\n\nreturn expanded;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        220
      ],
      "id": "402d7ca8-f260-47e9-bd17-f597e2f748b2",
      "name": "Expand objectives"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.objectiveId || '').trim() ? 'present' : '' }}",
              "operation": "equal",
              "value2": "present"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        220
      ],
      "id": "dd38d178-285b-4ba9-a73f-e045360e10ba",
      "name": "Has objectiveId"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "larkApi",
        "method": "GET",
        "url": "={{ 'https://open.feishu.cn/open-apis/okr/v2/objectives/' + encodeURIComponent($json.objectiveId) + '/key_results' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id_type",
              "value": "={{ $json.targetUserIdType || 'open_id' }}"
            },
            {
              "name": "page_size",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        220
      ],
      "id": "43009171-c505-46cd-ad17-e7feec57420e",
      "name": "List key results",
      "onError": "continueRegularOutput",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const krResponses = $input.all();\nconst expanded = $('Expand objectives').all();\nconst request = $('Normalize').all()[0]?.json ?? {};\nconst firstExpanded = expanded[0]?.json ?? {};\nconst targetName = firstExpanded.targetDisplayName || request.targetDisplayName || '目标用户';\nconst targetPossessive = targetName === '你' ? '你的' : targetName + '的';\n\nfunction textFromContent(value) {\n  if (!value) return '';\n  if (typeof value === 'string') {\n    const trimmed = value.trim();\n    if (!trimmed) return '';\n    try { return textFromContent(JSON.parse(trimmed)); } catch (error) { return trimmed; }\n  }\n  if (Array.isArray(value)) return value.map(textFromContent).filter(Boolean).join('');\n  if (typeof value === 'object') {\n    if (typeof value.text === 'string') return value.text.trim();\n    if (typeof value.text_run?.text === 'string') return value.text_run.text.trim();\n    if (typeof value.docs_link?.title === 'string') return value.docs_link.title.trim();\n    if (Array.isArray(value.blocks)) return value.blocks.map(textFromContent).filter(Boolean).join('\\n');\n    if (Array.isArray(value.elements)) return value.elements.map(textFromContent).filter(Boolean).join('');\n    if (value.paragraph?.elements) return textFromContent(value.paragraph.elements);\n    if (value.content) return textFromContent(value.content);\n  }\n  return '';\n}\n\nfunction numericScore(score) {\n  const numeric = Number(score);\n  return Number.isFinite(numeric) ? numeric : null;\n}\n\nfunction scoreText(score) {\n  const numeric = numericScore(score);\n  if (numeric === null) return '';\n  const percent = numeric <= 1 ? Math.round(numeric * 100) : Math.round(numeric);\n  return '（' + percent + '%）';\n}\n\nfunction normalizedTarget() {\n  return {\n    userId: String(request.targetUserId || firstExpanded.targetUserId || '').trim(),\n    userIdType: String(request.targetUserIdType || firstExpanded.targetUserIdType || 'open_id').trim(),\n    displayName: targetName,\n  };\n}\n\nfunction normalizedCycle() {\n  return {\n    id: String(firstExpanded.cycleId || '').trim(),\n    label: String(firstExpanded.cycleLabel || '').trim(),\n    startDate: String(firstExpanded.cycleStartDate || '').trim(),\n    endDate: String(firstExpanded.cycleEndDate || '').trim(),\n  };\n}\n\nfunction finish(output, ok = false, extra = {}, errorCode = 'READ_OKR_FAILED') {\n  const data = extra.data || {};\n  return [{\n    json: {\n      ok,\n      action: 'read_okr',\n      version: 'v2',\n      data,\n      error: ok ? null : { code: errorCode, message: output, retryable: false },\n      meta: {\n        target: normalizedTarget(),\n        targetDisplayName: targetName,\n        cycle: normalizedCycle(),\n        cycleId: firstExpanded.cycleId || '',\n        cycleLabel: firstExpanded.cycleLabel || '',\n        truncated: false,\n      },\n      output,\n      okrToolOk: ok,\n      targetDisplayName: targetName,\n      cycleLabel: firstExpanded.cycleLabel,\n      ...extra,\n    },\n  }];\n}\n\nfunction emptyData() {\n  return {\n    target: normalizedTarget(),\n    cycle: normalizedCycle(),\n    objectives: [],\n    counts: { objectives: 0, keyResults: 0 },\n  };\n}\n\nif (firstExpanded.output && firstExpanded.noObjectives) {\n  const code = firstExpanded.output.includes('缺少 objectiveId') ? 'MISSING_OBJECTIVE_ID' : 'READ_OKR_OBJECTIVES_FAILED';\n  return finish(firstExpanded.output, false, { data: emptyData() }, code);\n}\n\nif (firstExpanded.noObjectives) {\n  return finish('读取结果：' + targetPossessive + ' ' + (firstExpanded.cycleLabel || '当前周期') + ' OKR\\n这个周期下没有目标。', true, { data: emptyData() });\n}\n\nfunction objectiveLabel(expandedItem, index) {\n  const objective = expandedItem.json.objective ?? {};\n  const title = textFromContent(objective.content) || '(未命名目标)';\n  return '第 ' + String(index + 1) + ' 个目标 ' + title;\n}\n\nfor (const [index, expandedItem] of expanded.entries()) {\n  const objective = expandedItem.json.objective;\n  if (!objective) continue;\n  const response = krResponses[index]?.json ?? {};\n  const label = objectiveLabel(expandedItem, index);\n  if (response.error) {\n    const detail = typeof response.error === 'string' ? response.error : (response.error.message || JSON.stringify(response.error));\n    const output = '读取' + targetPossessive + ' OKR 失败：' + label + ' 的关键结果读取失败：' + detail;\n    return finish(output, false, { data: { ...emptyData(), failedObjectiveIndex: index + 1, failedObjectiveId: expandedItem.json.objectiveId || '', failedObjectiveTitle: textFromContent(objective.content) || '(未命名目标)' } }, 'READ_OKR_KEY_RESULTS_HTTP_ERROR');\n  }\n  const hasResponseCode = response.code !== undefined && response.code !== null && response.code !== '';\n  const responseCode = Number(response.code);\n  if (hasResponseCode && (!Number.isFinite(responseCode) || responseCode !== 0)) {\n    const detail = response.msg || JSON.stringify(response);\n    const output = '读取' + targetPossessive + ' OKR 失败：' + label + ' 的关键结果读取失败：' + detail;\n    return finish(output, false, { data: { ...emptyData(), failedObjectiveIndex: index + 1, failedObjectiveId: expandedItem.json.objectiveId || '', failedObjectiveTitle: textFromContent(objective.content) || '(未命名目标)' } }, 'READ_OKR_KEY_RESULTS_API_ERROR');\n  }\n}\n\nconst objectives = [];\nconst lines = ['读取结果：' + targetPossessive + ' ' + (firstExpanded.cycleLabel || '当前周期') + ' OKR'];\nlet keyResultCount = 0;\n\nfor (const [index, expandedItem] of expanded.entries()) {\n  const objective = expandedItem.json.objective;\n  if (!objective) continue;\n  const response = krResponses[index]?.json ?? {};\n  const rawKeyResults = response.key_results ?? response.items ?? response.data?.key_results ?? response.data?.items ?? [];\n  const keyResults = Array.isArray(rawKeyResults)\n    ? [...rawKeyResults].sort((a, b) => Number(a.position ?? 0) - Number(b.position ?? 0)).map((kr) => ({\n        id: String(kr.id ?? kr.key_result_id ?? '').trim(),\n        title: textFromContent(kr.content) || '(未命名关键结果)',\n        score: numericScore(kr.score),\n        progress: String(kr.progress ?? kr.progress_rate ?? kr.metric?.current_value ?? '').trim(),\n        status: String(kr.status ?? kr.progress_status ?? kr.state ?? '').trim(),\n        position: Number.isFinite(Number(kr.position)) ? Number(kr.position) : null,\n      }))\n    : [];\n  keyResultCount += keyResults.length;\n  const title = textFromContent(objective.content) || '(未命名目标)';\n  objectives.push({\n    id: String(objective.id ?? expandedItem.json.objectiveId ?? '').trim(),\n    title,\n    score: numericScore(objective.score),\n    keyResults,\n  });\n  lines.push(String(index + 1) + '. O: ' + title + scoreText(objective.score));\n  for (const kr of keyResults) {\n    lines.push('   - KR: ' + kr.title + scoreText(kr.score));\n  }\n}\n\nconst data = {\n  target: normalizedTarget(),\n  cycle: normalizedCycle(),\n  objectives,\n  counts: {\n    objectives: objectives.length,\n    keyResults: keyResultCount,\n  },\n};\n\nreturn finish(lines.join('\\n'), true, { data });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        220
      ],
      "id": "220eec06-1d4d-42c1-964c-560559315bd4",
      "name": "Format OKR result"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.all()[0]?.json ?? {};\nconst request = $('Normalize').all()[0]?.json ?? {};\nconst targetName = request.targetDisplayName || input.targetDisplayName || '目标用户';\nconst targetPossessive = targetName === '你' ? '你的' : targetName + '的';\n\nlet code = 'MISSING_REQUIRED_FIELD';\nlet message = input.output || '';\n\nif (request.parseError) {\n  code = 'INVALID_TOOL_INPUT';\n  message = 'okr_tools 参数不是有效 JSON。请传入 JSON 字符串。';\n} else if (!request.targetUserId) {\n  code = 'MISSING_TARGET_USER_ID';\n  message = 'read_okr 缺少有效 targetUserId。请传入目标用户 ID。';\n} else if (!input.cycleId) {\n  code = input.output ? 'READ_OKR_CYCLE_FAILED' : 'MISSING_CYCLE_ID';\n  message = input.output || '读取' + targetPossessive + ' OKR 失败：没有可用的 cycleId。';\n} else if (!input.objectiveId) {\n  code = 'MISSING_OBJECTIVE_ID';\n  message = input.output || '读取' + targetPossessive + ' OKR 失败：目标缺少 objectiveId。';\n}\n\nreturn [{\n  json: {\n    ok: false,\n    action: 'read_okr',\n    version: 'v2',\n    output: message,\n    error: { code, message, retryable: false },\n    data: {\n      target: { userId: request.targetUserId || '', userIdType: request.targetUserIdType || 'open_id', displayName: targetName },\n      cycle: { id: input.cycleId || '', label: input.cycleLabel || '' },\n      objectives: [],\n      counts: { objectives: 0, keyResults: 0 },\n    },\n    meta: {\n      targetUserId: request.targetUserId || '',\n      targetUserIdType: request.targetUserIdType || 'open_id',\n      targetDisplayName: targetName,\n      cycleId: input.cycleId || '',\n      objectiveId: input.objectiveId || '',\n    },\n    okrToolOk: false,\n    targetDisplayName: targetName,\n    cycleLabel: input.cycleLabel || '',\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        420
      ],
      "id": "e47da0f8-3570-436a-b589-93728cad8945",
      "name": "Format OKR guard failure"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.all()[0]?.json ?? {};\nconst action = input.requestedAction || input.action || \"\";\nconst supported = Array.isArray(input.supportedActions) ? input.supportedActions.join(\", \") : \"read_okr, list_chat_members, analyze_okr, summarize_group_okrs\";\nconst output = input.parseError\n  ? \"okr_tools 参数不是有效 JSON。请传入 JSON 字符串。\"\n  : \"okr_tools 不支持 action：\" + (action || \"(空)\") + \"。当前支持：\" + supported;\nreturn [{\n  json: {\n    ok: false,\n    action: input.action || \"unknown_action\",\n    version: 'v1',\n    output,\n    error: {\n      code: input.parseError ? \"INVALID_TOOL_INPUT\" : \"UNKNOWN_ACTION\",\n      message: output,\n      retryable: false,\n    },\n    data: {},\n    meta: { supportedActions: input.supportedActions || [] },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        420
      ],
      "id": "c1f79d71-9cc7-4201-890f-f5beed4eec9b",
      "name": "Format unsupported action"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "analyze_okr"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        80
      ],
      "id": "14ba9699-b3a5-4c20-8f52-882a7d413a45",
      "name": "Action is analyze_okr"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $input.all()[0]?.json ?? {};\nconst payload = request.toolInput ?? {};\n\nfunction unwrap(input) {\n  if (!input || typeof input !== 'object') return null;\n  if (input.data?.objectives) return input.data;\n  if (Array.isArray(input.objectives)) return input;\n  if (input.okrResult?.data?.objectives) return input.okrResult.data;\n  if (input.okrData?.objectives) return input.okrData;\n  if (input.result?.data?.objectives) return input.result.data;\n  return null;\n}\n\nconst data = unwrap(payload) || unwrap(payload.data) || unwrap(payload.okrResult) || unwrap(payload.okrData);\n\nfunction finish(output, ok = false, extra = {}, errorCode = 'ANALYZE_OKR_FAILED') {\n  return [{\n    json: {\n      ok,\n      action: 'analyze_okr',\n      version: 'v1',\n      data: extra.data || {},\n      error: ok ? null : { code: errorCode, message: output, retryable: false },\n      meta: {\n        target: data?.target || null,\n        cycle: data?.cycle || null,\n        truncated: false,\n      },\n      output,\n      ...extra,\n    },\n  }];\n}\n\nif (request.parseError) {\n  return finish('analyze_okr 参数不是有效 JSON。', false, {}, 'INVALID_TOOL_INPUT');\n}\n\nif (!data || !Array.isArray(data.objectives)) {\n  return finish('analyze_okr 需要传入 read_okr 返回的结构化 data 或 okrResult。', false, {}, 'MISSING_OKR_DATA');\n}\n\nfunction asPercent(score) {\n  const n = Number(score);\n  if (!Number.isFinite(n)) return null;\n  return n <= 1 ? Math.round(n * 100) : Math.round(n);\n}\n\nconst objectives = data.objectives;\nconst risks = [];\nconst suggestions = [];\nconst missingSignals = [];\nlet krCount = 0;\nlet lowKrCount = 0;\n\nif (!objectives.length) {\n  risks.push({ level: 'high', type: 'no_objectives', message: '当前周期没有读取到 Objective。' });\n  suggestions.push('先补齐 1-3 个本周期最关键的 Objective，再为每个 Objective 绑定可量化 KR。');\n}\n\nif (objectives.length > 5) {\n  risks.push({ level: 'medium', type: 'too_many_objectives', message: 'Objective 数量偏多，可能分散投入。' });\n  suggestions.push('把目标收敛到最关键的 3-5 个，并把执行类事项下沉到 KR 或任务。');\n}\n\nfor (const [index, objective] of objectives.entries()) {\n  const title = String(objective.title || '(未命名目标)');\n  const objectiveScore = asPercent(objective.score);\n  const keyResults = Array.isArray(objective.keyResults) ? objective.keyResults : [];\n  if (objectiveScore !== null && objectiveScore < 50) {\n    risks.push({ level: 'high', type: 'low_objective_score', objective: title, score: objectiveScore, message: '目标分数低于 50%。' });\n  } else if (objectiveScore !== null && objectiveScore < 70) {\n    risks.push({ level: 'medium', type: 'watch_objective_score', objective: title, score: objectiveScore, message: '目标分数低于 70%，建议关注推进风险。' });\n  }\n  if (!keyResults.length) {\n    risks.push({ level: 'high', type: 'objective_without_key_results', objective: title, message: 'Objective 没有关联 KR。' });\n  }\n  if (title.length < 8 || /(提升|优化|完善|加强|推进|支持|保障)$/.test(title)) {\n    missingSignals.push({ type: 'vague_objective', objective: title, message: '目标表述可能偏动作化或不够结果导向。' });\n  }\n  for (const kr of keyResults) {\n    krCount += 1;\n    const krTitle = String(kr.title || '(未命名关键结果)');\n    const krScore = asPercent(kr.score);\n    if (krScore === null) {\n      missingSignals.push({ type: 'missing_kr_score', objective: title, keyResult: krTitle, message: 'KR 缺少可读分数。' });\n    } else if (krScore < 50) {\n      lowKrCount += 1;\n      risks.push({ level: 'high', type: 'low_kr_score', objective: title, keyResult: krTitle, score: krScore, message: 'KR 分数低于 50%。' });\n    }\n    if (!/\\d|%|增长|降低|完成|上线|交付|覆盖|转化|收入|成本|时长|数量|率/.test(krTitle)) {\n      missingSignals.push({ type: 'weak_measurement', objective: title, keyResult: krTitle, message: 'KR 可能缺少明确量化口径。' });\n    }\n  }\n  if (index < 3 && keyResults.length > 5) {\n    missingSignals.push({ type: 'too_many_key_results', objective: title, message: '单个 Objective 的 KR 数量偏多。' });\n  }\n}\n\nif (lowKrCount > 0) suggestions.push('优先拆解低于 50% 的 KR：明确阻塞、责任人、下周最小推进动作。');\nif (missingSignals.some((item) => item.type === 'weak_measurement')) suggestions.push('把偏描述性的 KR 改成带数字、时间点或验收口径的结果指标。');\nif (risks.some((item) => item.type === 'objective_without_key_results')) suggestions.push('没有 KR 的 Objective 需要补充可验证结果，否则后续无法判断完成度。');\nif (!suggestions.length) suggestions.push('整体结构可读，建议继续保持每周更新 KR 分数和阻塞说明。');\n\nconst cappedRisks = risks.slice(0, 8);\nconst cappedMissing = missingSignals.slice(0, 8);\nconst cappedSuggestions = suggestions.slice(0, 3);\nconst targetName = data.target?.displayName || request.targetDisplayName || '目标用户';\nconst summary = targetName + '当前周期共有 ' + objectives.length + ' 个 Objective、' + krCount + ' 个 KR；识别到 ' + cappedRisks.length + ' 个主要风险信号。';\nconst lines = [summary];\nif (cappedRisks.length) {\n  lines.push('风险：');\n  for (const risk of cappedRisks.slice(0, 5)) lines.push('- ' + risk.message + (risk.objective ? ' ' + risk.objective : ''));\n}\nlines.push('建议：');\nfor (const suggestion of cappedSuggestions) lines.push('- ' + suggestion);\n\nreturn finish(lines.join('\\n'), true, {\n  data: {\n    summary,\n    risks: cappedRisks,\n    suggestions: cappedSuggestions,\n    missingSignals: cappedMissing,\n    counts: { objectives: objectives.length, keyResults: krCount },\n  },\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        80
      ],
      "id": "48860414-693b-48cb-b57e-1aee8746c90b",
      "name": "Format OKR analysis"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "summarize_group_okrs"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        420
      ],
      "id": "599fc903-d233-4add-8857-7de62350400e",
      "name": "Action is summarize_group_okrs"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $input.all()[0]?.json ?? {};\nconst payload = request.toolInput ?? {};\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nconst rawResults = asArray(payload.okrResults)\n  .concat(asArray(payload.results))\n  .concat(asArray(payload.groupResults))\n  .filter(Boolean);\n\nfunction unwrap(result) {\n  if (!result || typeof result !== 'object') return { ok: false, data: null, error: { code: 'INVALID_RESULT', message: '结果不是对象' } };\n  if (result.data?.objectives) return { ok: result.ok !== false, data: result.data, error: result.error || null };\n  if (Array.isArray(result.objectives)) return { ok: true, data: result, error: null };\n  return { ok: false, data: null, error: result.error || { code: 'MISSING_OKR_DATA', message: '缺少结构化 OKR data' } };\n}\n\nfunction finish(output, ok = false, extra = {}, errorCode = 'SUMMARIZE_GROUP_OKRS_FAILED') {\n  return [{\n    json: {\n      ok,\n      action: 'summarize_group_okrs',\n      version: 'v1',\n      data: extra.data || {},\n      error: ok ? null : { code: errorCode, message: output, retryable: false },\n      meta: {\n        chatDisplayName: request.chatDisplayName || payload.chatDisplayName || '',\n        partial: Boolean(extra.data?.partial),\n        truncated: Boolean(extra.data?.truncated),\n      },\n      output,\n      ...extra,\n    },\n  }];\n}\n\nif (request.parseError) {\n  return finish('summarize_group_okrs 参数不是有效 JSON。', false, {}, 'INVALID_TOOL_INPUT');\n}\n\nif (!rawResults.length) {\n  return finish('summarize_group_okrs 需要传入 okrResults 数组。', false, {}, 'MISSING_GROUP_OKR_RESULTS');\n}\n\nfunction percent(score) {\n  const n = Number(score);\n  if (!Number.isFinite(n)) return null;\n  return n <= 1 ? Math.round(n * 100) : Math.round(n);\n}\n\nconst members = [];\nconst failedTargets = [];\nconst lowObjectives = [];\nconst lowKeyResults = [];\nconst uncovered = [];\nlet objectiveCount = 0;\nlet keyResultCount = 0;\n\nfor (const result of rawResults) {\n  const unwrapped = unwrap(result);\n  if (!unwrapped.ok || !unwrapped.data) {\n    failedTargets.push({ target: result?.meta?.target || result?.data?.target || null, error: unwrapped.error });\n    continue;\n  }\n  const data = unwrapped.data;\n  const target = data.target || result.meta?.target || { displayName: result.targetDisplayName || '未知成员' };\n  const objectives = asArray(data.objectives);\n  members.push({ target, objectiveCount: objectives.length, keyResultCount: objectives.reduce((sum, objective) => sum + asArray(objective.keyResults).length, 0) });\n  if (!objectives.length) uncovered.push({ target, reason: 'no_objectives' });\n  for (const objective of objectives) {\n    objectiveCount += 1;\n    const objectiveScore = percent(objective.score);\n    if (objectiveScore !== null && objectiveScore < 60) lowObjectives.push({ target, title: objective.title, score: objectiveScore });\n    const keyResults = asArray(objective.keyResults);\n    if (!keyResults.length) uncovered.push({ target, objective: objective.title, reason: 'no_key_results' });\n    for (const kr of keyResults) {\n      keyResultCount += 1;\n      const krScore = percent(kr.score);\n      if (krScore !== null && krScore < 60) lowKeyResults.push({ target, objective: objective.title, title: kr.title, score: krScore });\n    }\n  }\n}\n\nconst partial = failedTargets.length > 0 || Boolean(payload.hasMore);\nconst risks = [\n  ...lowObjectives.slice(0, 8).map((item) => ({ type: 'low_objective_score', level: item.score < 50 ? 'high' : 'medium', ...item })),\n  ...lowKeyResults.slice(0, 8).map((item) => ({ type: 'low_kr_score', level: item.score < 50 ? 'high' : 'medium', ...item })),\n  ...uncovered.slice(0, 8).map((item) => ({ type: item.reason, level: 'medium', ...item })),\n].slice(0, 12);\n\nconst suggestions = [];\nif (lowObjectives.length || lowKeyResults.length) suggestions.push('先集中处理低于 60% 的目标/KR，按负责人确认阻塞与下一步。');\nif (uncovered.length) suggestions.push('补齐没有 KR 或没有目标的成员/方向，避免团队目标无法验收。');\nif (partial) suggestions.push('本次汇总存在部分失败或分页未读完，结论需要标注为部分结果。');\nif (!suggestions.length) suggestions.push('团队 OKR 结构整体完整，建议继续按周更新分数并同步阻塞。');\n\nconst chatName = request.chatDisplayName || payload.chatDisplayName || '当前团队';\nconst summary = chatName + '共汇总 ' + members.length + ' 人、' + objectiveCount + ' 个 Objective、' + keyResultCount + ' 个 KR；主要风险 ' + risks.length + ' 个。';\nconst lines = [summary];\nif (partial) lines.push('注意：本次是部分结果。');\nif (risks.length) {\n  lines.push('风险：');\n  for (const risk of risks.slice(0, 5)) {\n    const owner = risk.target?.displayName || risk.target?.userId || '未知成员';\n    lines.push('- ' + owner + '：' + (risk.title || risk.objective || risk.reason) + (risk.score !== undefined ? '（' + risk.score + '%）' : ''));\n  }\n}\nlines.push('建议：');\nfor (const suggestion of suggestions.slice(0, 3)) lines.push('- ' + suggestion);\n\nreturn finish(lines.join('\\n'), true, {\n  data: {\n    summary,\n    members,\n    risks,\n    failedTargets,\n    uncovered,\n    suggestions: suggestions.slice(0, 3),\n    partial,\n    truncated: Boolean(payload.hasMore),\n    counts: { members: members.length, objectives: objectiveCount, keyResults: keyResultCount, failedTargets: failedTargets.length },\n  },\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        620
      ],
      "id": "dfa81e50-8bff-412c-b626-e711a80a4354",
      "name": "Format group OKR summary"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Action is list_chat_members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action is list_chat_members": {
      "main": [
        [
          {
            "node": "Has chatId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action is analyze_okr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has chatId": {
      "main": [
        [
          {
            "node": "HTTP list members",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP list members": {
      "main": [
        [
          {
            "node": "Format result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action is read_okr": {
      "main": [
        [
          {
            "node": "Has targetUserId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format unsupported action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has targetUserId": {
      "main": [
        [
          {
            "node": "List cycles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format OKR guard failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List cycles": {
      "main": [
        [
          {
            "node": "Select cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select cycle": {
      "main": [
        [
          {
            "node": "Has cycleId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has cycleId": {
      "main": [
        [
          {
            "node": "List objectives",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format OKR guard failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List objectives": {
      "main": [
        [
          {
            "node": "Expand objectives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand objectives": {
      "main": [
        [
          {
            "node": "Has objectiveId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has objectiveId": {
      "main": [
        [
          {
            "node": "List key results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format OKR result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List key results": {
      "main": [
        [
          {
            "node": "Format OKR result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action is analyze_okr": {
      "main": [
        [
          {
            "node": "Format OKR analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action is summarize_group_okrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action is summarize_group_okrs": {
      "main": [
        [
          {
            "node": "Format group OKR summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action is read_okr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "OAR_OKR_TOOLS",
  "active": false,
  "pinData": {},
  "tags": [],
  "versionId": "okr-tools-v4-two-actions",
  "meta": {}
}
