OAR_conversation_context_tools.json
{
  "name": "OAR Conversation Context Tools",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "trustedContextHintsJson"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e8105baf-a212-43ff-a39b-a85840b1773e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.all()[0]?.json ?? {};\nlet payload = raw.query ?? {};\nlet parseError = false;\n\nconst rawQueryText = typeof raw.query === 'string' ? raw.query : '';\n\nif (typeof payload === 'string') {\n  try {\n    payload = JSON.parse(payload);\n  } catch (error) {\n    payload = {};\n    parseError = true;\n  }\n}\n\nif (!payload || typeof payload !== 'object' || Array.isArray(payload)) {\n  payload = {};\n  parseError = true;\n}\n\nfunction str(value) {\n  return String(value ?? '').trim();\n}\n\nfunction parseTrustedHints(value) {\n  if (!value) return {};\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n    } catch (error) {\n      return {};\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction buildUrl(path, query) {\n  const pairs = Object.entries(query).filter(([, value]) => str(value));\n  if (!pairs.length) return 'https://open.feishu.cn/open-apis' + path;\n  const queryString = pairs\n    .map(([key, value]) => encodeURIComponent(key) + '=' + encodeURIComponent(String(value)))\n    .join('&');\n  return 'https://open.feishu.cn/open-apis' + path + '?' + queryString;\n}\n\nfunction normalizedKey(key) {\n  return String(key || '').replace(/[^A-Za-z0-9]/g, '').toLowerCase();\n}\n\nconst forbiddenContextKeys = new Set([\n  'contexthints',\n  'contextids',\n  'contextid',\n  'chatid',\n  'allowedchatid',\n  'containerid',\n  'containeridtype',\n  'threadid',\n  'topicid',\n  'referencedmessageid',\n  'referencemessageid',\n  'replytomessageid',\n  'quotedmessageid',\n  'parentmessageid',\n  'currentmessageid',\n  'messageid',\n  'messageids',\n  'rootid',\n  'parentid'\n]);\nconst contextIdPattern = /\\b(?:oc|om|omt)_[A-Za-z0-9_-]+\\b/;\n\nfunction findForbiddenContextInput(value, path = '') {\n  if (value == null) return '';\n  if (typeof value === 'string') {\n    return contextIdPattern.test(value) ? (path || 'query') : '';\n  }\n  if (typeof value !== 'object') return '';\n  if (Array.isArray(value)) {\n    for (let index = 0; index < value.length; index += 1) {\n      const found = findForbiddenContextInput(value[index], path + '[' + index + ']');\n      if (found) return found;\n    }\n    return '';\n  }\n  for (const [key, nested] of Object.entries(value)) {\n    const nextPath = path ? path + '.' + key : key;\n    if (forbiddenContextKeys.has(normalizedKey(key))) return nextPath;\n    const found = findForbiddenContextInput(nested, nextPath);\n    if (found) return found;\n  }\n  return '';\n}\n\nconst aliases = {\n  resolve: 'resolve_context',\n  context: 'resolve_context',\n  get_context: 'resolve_context',\n  resolveContext: 'resolve_context'\n};\n\nconst requestedAction = str(payload.action ?? payload.tool ?? payload.operation ?? 'resolve_context');\nconst mappedAction = aliases[requestedAction] || requestedAction || 'resolve_context';\nconst directContextInput = findForbiddenContextInput(payload) || (rawQueryText && contextIdPattern.test(rawQueryText) ? 'query' : '');\nconst action = directContextInput ? 'unknown_action' : (mappedAction === 'resolve_context' ? 'resolve_context' : 'unknown_action');\n\nconst rawLimit = Number(payload.limit ?? payload.pageSize ?? payload.page_size ?? 10);\nconst limit = Number.isFinite(rawLimit) ? Math.min(Math.max(Math.trunc(rawLimit), 1), 20) : 10;\nconst hints = parseTrustedHints(raw.trustedContextHintsJson);\n\nconst chatId = str(hints.chatId ?? hints.chat_id);\nconst currentMessageId = str(hints.currentMessageId ?? hints.current_message_id ?? hints.messageId ?? hints.message_id);\nconst referencedMessageId = str(\n  hints.referencedMessageId ??\n  hints.referenced_message_id ??\n  hints.referenceMessageId ??\n  hints.reference_message_id ??\n  hints.replyToMessageId ??\n  hints.reply_to_message_id ??\n  hints.parentMessageId ??\n  hints.parent_message_id ??\n  hints.parentId ??\n  hints.parent_id ??\n  hints.rootId ??\n  hints.root_id\n);\nconst threadId = str(hints.threadId ?? hints.thread_id);\nconst rootId = str(hints.rootId ?? hints.root_id);\nconst parentId = str(hints.parentId ?? hints.parent_id);\nconst createTime = str(hints.createTime ?? hints.create_time ?? hints.time);\n\nlet contextType = 'none';\nlet contextPath = '';\nlet contextQuery = {};\nlet error = null;\n\nif (directContextInput) {\n  error = {\n    code: 'DIRECT_CONTEXT_ID_FORBIDDEN',\n    message: 'conversation_context_tools only accepts context IDs from trustedContextHintsJson; AI query must not include chatId, referencedMessageId, threadId, contextHints, or aliases.',\n    retryable: false,\n    field: directContextInput\n  };\n} else if (referencedMessageId) {\n  contextType = 'reference';\n  contextPath = '/im/v1/messages/mget';\n  contextQuery = {\n    message_ids: referencedMessageId\n  };\n} else if (threadId) {\n  contextType = 'thread';\n  contextPath = '/im/v1/messages';\n  contextQuery = {\n    container_id_type: 'thread',\n    container_id: threadId,\n    sort_type: 'ByCreateTimeAsc',\n    page_size: limit\n  };\n} else if (chatId) {\n  contextType = 'recent_chat';\n  contextPath = '/im/v1/messages';\n  contextQuery = {\n    container_id_type: 'chat',\n    container_id: chatId,\n    sort_type: 'ByCreateTimeDesc',\n    page_size: limit\n  };\n}\n\nconst contextUrl = error || !contextPath ? '' : buildUrl(contextPath, contextQuery);\n\nreturn [{\n  json: {\n    action,\n    requestedAction: mappedAction,\n    supportedActions: ['resolve_context'],\n    parseError,\n    limit,\n    chatId,\n    currentMessageId,\n    referencedMessageId,\n    threadId,\n    rootId,\n    parentId,\n    createTime,\n    contextType,\n    contextUrl,\n    contextQuery,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "8f9f4f32-16c0-4bca-b543-039422db30fc",
      "name": "Normalize"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "resolve_context"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "56f77c07-b5c1-4af3-88d1-b39d5a246f8d",
      "name": "Action is resolve_context"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.contextType !== 'none' ? 'yes' : 'no' }}",
              "operation": "equal",
              "value2": "yes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        -80
      ],
      "id": "22642909-b892-4be0-99a0-c865329a2ad0",
      "name": "Has context target"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "larkApi",
        "method": "GET",
        "url": "={{ $('Normalize').all()[0].json.contextUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        -80
      ],
      "id": "eec88cd5-c969-4958-92b4-0daf9706d621",
      "name": "HTTP get context",
      "onError": "continueRegularOutput",
      "credentials": {
        "larkApi": {
          "id": "OZYoOaN1QpJlcZma",
          "name": "OKR Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.all()[0]?.json ?? {};\nconst request = $('Normalize').all()[0]?.json ?? {};\n\nfunction asBoolean(value) {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') return value.toLowerCase() === 'true';\n  return Boolean(value);\n}\n\nfunction parseContent(value) {\n  if (typeof value !== 'string') return value;\n  const trimmed = value.trim();\n  if (!trimmed) return '';\n  try {\n    return JSON.parse(trimmed);\n  } catch (error) {\n    return trimmed;\n  }\n}\n\nfunction extractText(value) {\n  if (value == null) return '';\n  if (typeof value === 'string') return value.trim();\n  if (Array.isArray(value)) return value.map(extractText).filter(Boolean).join(' ');\n  if (typeof value !== 'object') return '';\n\n  if (typeof value.text === 'string') return value.text.trim();\n  if (typeof value.title === 'string' && Array.isArray(value.content)) {\n    const body = extractText(value.content);\n    return (value.title + (body ? ' ' + body : '')).trim();\n  }\n  if (Array.isArray(value.content)) return extractText(value.content);\n  if (value.zh_cn) return extractText(value.zh_cn);\n  if (value.en_us) return extractText(value.en_us);\n  if (Array.isArray(value.elements)) return extractText(value.elements);\n  if (Array.isArray(value.blocks)) return extractText(value.blocks);\n  if (typeof value.user_name === 'string') return '@' + value.user_name.trim();\n  if (typeof value.tag === 'string') {\n    const tag = value.tag.toLowerCase();\n    if (tag === 'img' || tag === 'image') return '[image]';\n    if (tag === 'file') return '[file]';\n    if (tag === 'audio') return '[audio]';\n    if (tag === 'media' || tag === 'video') return '[video]';\n    if (tag === 'emotion') return '[emoji]';\n    if (tag === 'at' && typeof value.user_name === 'string') return '@' + value.user_name.trim();\n  }\n  if (typeof value.content === 'string') return extractText(parseContent(value.content));\n\n  return '';\n}\n\nfunction messageText(message) {\n  const rawContent = message.body?.content ?? message.content ?? '';\n  const parsed = parseContent(rawContent);\n  const text = extractText(parsed) || extractText(message.body) || extractText(message.content);\n  if (text) return text;\n  const msgType = String(message.msg_type ?? message.msgType ?? '').toLowerCase();\n  return msgType ? '[' + msgType + ']' : '[non-text message]';\n}\n\nfunction normalizeMessages(messages) {\n  if (!Array.isArray(messages)) return [];\n  return messages.map((message) => {\n    const senderId = String(\n      message.sender?.id ??\n      message.sender?.sender_id ??\n      message.sender?.open_id ??\n      message.sender_id ??\n      ''\n    ).trim();\n    const senderName = String(\n      message.sender?.name ??\n      message.sender?.sender_name ??\n      message.sender_name ??\n      senderId\n    ).trim();\n\n    return {\n      messageId: String(message.message_id ?? message.messageId ?? '').trim(),\n      senderName,\n      senderId,\n      createTime: String(message.create_time ?? message.createTime ?? '').trim(),\n      msgType: String(message.msg_type ?? message.msgType ?? '').trim(),\n      text: messageText(message)\n    };\n  }).filter((message) => message.messageId).slice(0, request.limit);\n}\n\nfunction buildOutput(prefix, messages) {\n  if (!messages.length) return prefix + ': no messages found.';\n  const lines = messages.map((message, index) => {\n    return String(index + 1) + '. ' + (message.senderName || message.senderId || 'Unknown') + ': ' + (message.text || '[non-text message]');\n  });\n  return [prefix, ...lines].join(String.fromCharCode(10));\n}\n\nconst contextType = request.contextType || 'none';\nconst missingIdentifiersMessage = 'resolve_context needs referencedMessageId, threadId, or chatId.';\nconst config = {\n  reference: {\n    fetchLabel: 'referenced message',\n    fetchCode: 'REFERENCE_FETCH_FAILED',\n    notFoundCode: 'REFERENCE_NOT_FOUND',\n    notFoundOutput: 'Referenced message not found or inaccessible.',\n    notFoundMessage: 'No readable referenced message returned.',\n    successPrefix: 'Resolved reference context',\n    neverTruncated: true\n  },\n  thread: {\n    fetchLabel: 'thread messages',\n    fetchCode: 'THREAD_FETCH_FAILED',\n    notFoundCode: 'THREAD_NOT_FOUND',\n    notFoundOutput: 'Thread messages not found or inaccessible.',\n    notFoundMessage: 'No readable thread messages returned.',\n    successPrefix: 'Resolved thread context',\n    neverTruncated: false\n  },\n  recent_chat: {\n    fetchLabel: 'recent chat messages',\n    fetchCode: 'CHAT_FETCH_FAILED',\n    notFoundCode: 'CHAT_NOT_FOUND',\n    notFoundOutput: 'Recent chat messages not found or inaccessible.',\n    notFoundMessage: 'No readable recent chat messages returned.',\n    successPrefix: 'Resolved recent chat context',\n    neverTruncated: false\n  }\n}[contextType];\n\nfunction finish({ ok, messages, output, error, truncated }) {\n  return [{\n    json: {\n      ok,\n      action: 'resolve_context',\n      contextType: ok ? contextType : 'none',\n      output,\n      messages,\n      limits: {\n        limit: request.limit,\n        truncated\n      },\n      error,\n      meta: {\n        chatId: request.chatId,\n        currentMessageId: request.currentMessageId,\n        referencedMessageId: request.referencedMessageId,\n        threadId: request.threadId,\n        rootId: request.rootId,\n        parentId: request.parentId\n      }\n    }\n  }];\n}\n\nif (!config || contextType === 'none' || !request.contextUrl) {\n  return finish({\n    ok: false,\n    messages: [],\n    output: missingIdentifiersMessage,\n    truncated: false,\n    error: {\n      code: 'MISSING_CONTEXT_IDENTIFIERS',\n      message: missingIdentifiersMessage,\n      retryable: false\n    }\n  });\n}\n\nif (input.error) {\n  const detail = typeof input.error === 'string' ? input.error : (input.error.message || JSON.stringify(input.error));\n  return finish({\n    ok: false,\n    messages: [],\n    output: 'Failed to fetch ' + config.fetchLabel + ': ' + detail,\n    truncated: false,\n    error: {\n      code: config.fetchCode,\n      message: detail,\n      retryable: true\n    }\n  });\n}\n\nif (input.code && input.code !== 0) {\n  const detail = input.msg || JSON.stringify(input);\n  return finish({\n    ok: false,\n    messages: [],\n    output: 'Failed to fetch ' + config.fetchLabel + ': ' + detail,\n    truncated: false,\n    error: {\n      code: config.fetchCode,\n      message: String(input.msg || 'request failed'),\n      retryable: true\n    }\n  });\n}\n\nconst rawMessages = input.messages ?? input.items ?? input.data?.messages ?? input.data?.items ?? [];\nconst messages = normalizeMessages(rawMessages);\nconst hasMore = asBoolean(input.has_more ?? input.data?.has_more ?? input.hasMore ?? input.data?.hasMore);\nconst truncated = config.neverTruncated ? false : (hasMore || (Array.isArray(rawMessages) && rawMessages.length > request.limit));\n\nif (!messages.length) {\n  return finish({\n    ok: false,\n    messages: [],\n    output: config.notFoundOutput,\n    truncated: false,\n    error: {\n      code: config.notFoundCode,\n      message: config.notFoundMessage,\n      retryable: false\n    }\n  });\n}\n\nreturn finish({\n  ok: true,\n  messages,\n  output: buildOutput(config.successPrefix, messages),\n  truncated,\n  error: null\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -80
      ],
      "id": "7493fccd-d898-4a95-8da9-c6baf3baf6cf",
      "name": "Format context result"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $input.all()[0]?.json ?? {};\nconst output = request.error\n  ? request.error.message\n  : (request.parseError\n    ? 'conversation_context_tools received invalid JSON input.'\n    : 'conversation_context_tools does not support action: ' + (request.requestedAction || '(empty)') + '. Supported action: resolve_context.');\n\nreturn [{\n  json: {\n    ok: false,\n    action: request.error ? 'resolve_context' : (request.action || 'unknown_action'),\n    contextType: 'none',\n    output,\n    messages: [],\n    limits: {\n      limit: request.limit || 10,\n      truncated: false\n    },\n    error: request.error || {\n      code: request.parseError ? 'INVALID_TOOL_INPUT' : 'UNSUPPORTED_ACTION',\n      message: output,\n      retryable: false\n    },\n    meta: {\n      chatId: request.chatId || '',\n      currentMessageId: request.currentMessageId || '',\n      referencedMessageId: request.referencedMessageId || '',\n      threadId: request.threadId || '',\n      rootId: request.rootId || '',\n      parentId: request.parentId || ''\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        220
      ],
      "id": "c8a81036-d4a9-45ce-afcf-ebf3509885ac",
      "name": "Format unsupported action"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Action is resolve_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action is resolve_context": {
      "main": [
        [
          {
            "node": "Has context target",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format unsupported action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has context target": {
      "main": [
        [
          {
            "node": "HTTP get context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format context result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP get context": {
      "main": [
        [
          {
            "node": "Format context result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "OAR_CONVERSATION_CONTEXT_TOOLS",
  "active": false,
  "pinData": {},
  "tags": [],
  "versionId": "context-tools-v1",
  "meta": {}
}
